Django>=3.0.5,<3.1.0
djangorestframework>=3.11.0,<3.12.0
flake8>=3.6.0,<3.7.0
psycopg2-binary==2.8.4
Pillow>=5.3.0,<5.4.0
gunicorn>=20.0.4,<20.1.0
django-cors-headers==3.7.0
celery==4.4.1
flower==0.9.3
django-redis>=4.12,<4.13
boto3>=1.16,<1.17
django-storages>=1.10,<1.11
drf-yasg>=1.20.0,<1.21.0
redis>=3.5.3,<3.6
django-celery-results>=2.0.0,<2.1
django-filter>=2.4.0,<2.5.0
pandas==1.2.4
django-rest-framework-social-oauth2==1.1.0
